<body>
  <div class=" mt-5 mx-auto fw-bold shadow" style="margin: 0 10 10 0;">
    <div class="w-50 mx-auto bg-light text-end">
      <div class="p-3"><input type="text" class="w-100 fs-2 form-control border-0 shadow-none text-end text-danger"
          [(ngModel)]="operador"></div>
      <div class="p-3">
        <p class="w-100 fs-2 form-control border-0 shadow-none bg-light text-end text-danger">{{resultado}}</p>
      </div>
    </div>
    <div class="w-60 mx-auto bg-white text-light d-flex flex-row text-center justify-content-between"
      style="color: #6C757D;">
      <div class="col-3">
        <div class="p-4 bg-secondary bg-opacity-70"><button (click)="addOperador('-')" class="w-100 btn btn-outline-secondary text-light">-</button></div>
        <div class="p-4 bg-secondary bg-opacity-70"><button (click)="addNum('9')" class="w-100 h-100 btn">9</button>
        </div>
        <div class="p-4 bg-secondary bg-opacity-70"><button (click)="addNum('6')" class="w-100 h-100 btn">6</button>
        </div>
        <div class="p-4 bg-secondary bg-opacity-70"><button (click)="addNum('3')" class="w-100 h-100 btn">3</button>
        </div>
        <div class="p-4 bg-secondary bg-opacity-70"><button (click)="addNum('.')" class="w-100 h-100 btn">.</button>
        </div>
      </div>
      <div class="col-3">
        <div class="p-4 bg-secondary bg-opacity-70"><button (click)="addOperador('+')" class="w-100 btn btn-outline-secondary text-light">+</button></div>

        <div class="p-4 bg-secondary bg-opacity-70"><button (click)="addNum('8')" class="w-100 h-100 btn">8</button>
        </div>
        <div class="p-4 bg-secondary bg-opacity-70"><button (click)="addNum('5')" class="w-100 h-100 btn">5</button>
        </div>
        <div class="p-4 bg-secondary bg-opacity-70"><button (click)="addNum('2')" class="w-100 h-100 btn">2</button>
        </div>
        <div class="p-4 bg-secondary bg-opacity-70"><button (click)="addNum('0')" class="w-100 h-100 btn">0</button>
        </div>
      </div>
      <div class="col-3">
        <div class="p-4 bg-secondary bg-opacity-70"><button (click)="delete()" class="w-100 btn btn-outline-secondary text-light">DEL</button></div>

        <div class="p-4 bg-secondary bg-opacity-70"><button (click)="addNum('7')" class="w-100 h-100 btn">7</button>
        </div>
        <div class="p-4 bg-secondary bg-opacity-70"><button (click)="addNum('4')" class="w-100 h-100 btn">4</button>
        </div>
        <div class="p-4 bg-secondary bg-opacity-70"><button (click)="addNum('1')" class="w-100 h-100 btn">1</button>
        </div>
        <div class="p-4 bg-secondary bg-opacity-70"><button (click)="addNum('00')" class="w-100 h-100 btn">00</button>
        </div>
      </div>
      <div class="col-3" style="background-color: #6C757D;">
        <div class="p-4 bg-secondary bg-opacity-70"><button (click)="addOperador('/')" class="w-100 btn btn-outline-secondary text-light">/</button></div>
        <div class="p-4 bg-secondary bg-opacity-70"><button (click)="addOperador('*')" class="w-100 btn btn-outline-secondary text-light">X</button></div>

        <div class="p-4 bg-secondary bg-opacity-70"><button (click)="evaluar()" class="w-100 btn btn-outline-secondary text-light">=</button></div>
      </div>

    </div>
  </div>

</body>
